
.main-content {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 640px) {
            display: block;
            text-align: center;
        }
    }

    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        border-bottom: 2px solid #d63031;

        @media (max-width: 1024px) {
            font-size: 26px;
        }

        @media (max-width: 640px) {
            margin: 0 auto;
            margin-top: 20px;
            font-size: 20px;
            width: 70px;
        }
    }

    &__subtitle {
        text-align: center;
        letter-spacing: 1px;
        font-weight: 400;

        &--year {
            font-family: Poppins;
            font-size: 72px;

            @media (max-width: 1024px) {
                font-size: 36px;
            }

            @media (max-width: 640px) {
                font-size: 26px;
                margin-bottom: 20px;
            }
        }

        &--age {
            font-size: 48px;

            @media (max-width: 1024px) {
                font-size: 28px;
            }

            @media (max-width: 640px) {
                font-size: 22px;
            }
        }
    }

    span {
        font-size: 64px;

        @media (max-width: 1024px) {
            font-size: 36px;
        }

        @media (max-width: 640px) {
            font-size: 18px;
        }
    }
}