
@use 'reset';
@use 'variables';
@use 'button';
@use 'header';
@use 'main-content';

body {
    background-color: variables.$backgroundColor;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding: 56px;

    @media (max-width: 640px) {
        padding: 26px;
    }
}
